name: maison-senna

services:
  mysql:
    image: mysql:lts
    volumes:
      - backend_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - 3307:3306
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u $$MYSQL_USER --password=$$MYSQL_PASSWORD
      timeout: 20s
      retries: 10

  backend:
    image: django
    build: ./backend
    volumes:
      - ./backend:/app
    env_file: ./backend/.env
    environment:
      DATABASE_URL: mysql://${DB_USER}:${DB_PASSWORD}@mysql:3306/${DB_NAME}
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - 8000:8000

  frontend:
    image: react
    build: ./frontend
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_BACKEND_URL: "http://localhost:8000/api/v1"
      NODE_ENV: development
    depends_on:
      - backend

volumes:
  backend_data:
