@import "tailwindcss";

@theme {
  --color-light: #f8f7f5;
  --color-oyster: #6c5b4e;
  --color-oyster-600: #56493e;
  --color-oyster-700: #41372f;
  --color-mine-shaft: #2c2c2c;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  :focus-visible:not(.outline-none) {
    outline: 2px solid var(--color-oyster);
    outline-offset: 2px;
  }

  body {
    background-color: var(--color-light);
  }

  .title {
    @apply text-mine-shaft font-serif;
  }
}
