@import "tailwindcss";

@theme {
  --color-light: #f8f7f5;
  --color-oyster: #9a8778;
  --color-mine-shaft: #2c2c2c;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  :focus-visible:not(.outline-none) {
    outline: 2px solid theme("colors.oyster");
    outline-offset: 2px;
  }

  body {
    background-color: var(--color-light);
  }
}
